@import 'header/header.scss';
@import 'brendcrumbs/brendcrumbs.scss';
@import 'home/main-product/main-product.scss';
@import 'home/home-slider/home-slider.scss';
@import 'form/form.scss';
@import 'review/review.scss';
@import 'contact/contact.scss';
@import 'alphabet/alphabet.scss';
@import 'about/about.scss';
@import 'dostavka/dostavka.scss';
@import 'order/order.scss';
@import 'posts/posts.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
@import 'fonts/fonts.scss';
@import 'constant/constant.scss';
@import 'text/text.scss';
