.order {
    margin: 35px 0;
    .title-xl-none {
        text-align: left;
        margin-bottom: 25px;
        font-size: 1.87rem;
        text-transform: none;
        @media (max-width: 990px) {
            margin-bottom: 15px;
            font-size: 1.25rem;
            br {
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
    }
}

.order-user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    p {
        font: 400 .9rem "ref"
    }
    .status {
        font: 400 .9rem "ref";
        padding: 10px 40px;
        border: 1px solid #000;
        background-color: #bfbfbf;
        @media (max-width: 576px) {
            padding: 8px 15px;
        }
    }
}



.order-user-box:last-child {
    border: none;
}

.order-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 50px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .label {
        font: 400 1rem "ref";
        @media (max-width: 990px) {
            font: 400 .95rem "ref";
        }
    }
}

.order-form {
    .box-input {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
        margin-bottom: 25px;
        align-items: center;
        position: relative;
        @media (max-width: 990px) {
            margin-bottom: 20px;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
        .simple-input {
            border: 1px solid #000;
            padding: 10px;
            font: 400 .9rem "ref"
        }
        span {
            color: #ff5e5e;
            position: absolute;
            right: -20px;
            top: -2px;
            font: 600 1rem "ref";
            @media (max-width: 990px) {
                right: 5px;
                top: 5px;
            }
            @media (max-width: 576px) {
                right: 0;
                top: 0;
            }
        }
        .call-mes {
            font: 500 1.1rem "ref";
            text-decoration: underline;
            cursor: pointer;
            @media (max-width: 990px) {
                font: 500 1rem "ref";
            }
        }
        .mes {
            display: none;
            height: 100px;
            width: 100%;
            margin-top: 10px;
            overflow: hidden;
            padding: 10px;
            box-sizing: border-box;
            @media (max-width: 990px) {
                height: 60px;
            }
        }
    }

    .select-box {
        position: relative;
        width: 100%;

        &::before {
            content: "▼";
            padding: 0 8px;
            font-size: 16px;
            position: absolute;
            right: 5px;
            top: 14px;
            z-index: 1;
            text-align: center;
            pointer-events: none;
            box-sizing: border-box;
        }
        &::after {
            content: '';
            height: 43px;
            width: 1.5px;
            display: block;
            background: #000;
            position: absolute;
            top: 0;
            right: 40px;
        }
    }

    select {
        border: 1px solid #000000;
        background: #fff;
        padding: 12px 18px;
        outline: none;
        font: 400 .9rem "ref";
        width: 100%;
        box-sizing: border-box;
        color: #9d9d9d;
        appearance: none;
    }

    .checkbox:last-child {
        position: relative;
        &::after {
                content: "▼";
                padding: 0 8px;
                font-size: 16px;
                position: absolute;
                left: 130px;
                z-index: -2;
                top: 4px;
                z-index: 1;
                text-align: center;
                pointer-events: none;
                box-sizing: border-box;
        }
    }

    .checkbox {
        margin-bottom:15px;
        label {
            width: 100%;
        }
        .postman {
            opacity: 0;
            border: none;
            padding: 5px;
            margin-top: 15px;
            border: 1px solid #000;
            appearance: auto;
            @media (max-width: 576px) {
                display: none;
            }
        }
        .postman-active {
            opacity: 1;
            display: block;
        }
    }

    .checkbox input[type="radio"] {
        opacity: 0;
        position: absolute;
    }
    
    .checkbox label {
        position: relative;
        display: inline-block;
        font: 400 .95rem "ref";
        /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
        padding-left: 30px;
    }
    
    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        
        /*Needed for the line-height to take effect*/
        display: inline-block;
    }
    
    /*Outer box of the fake checkbox*/
    .checkbox label::before{
        height: 17px;
        width: 17px;
        
        border: 1px solid;
        border-radius: 50%;
        left: 0px;
        
        /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
         *to vertically center it.
         */
        top: 0;
    }
    
    /*Checkmark of the fake checkbox*/
    .checkbox label::after {
        content: '';
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background: #000;
        left: 3px;
        top: 3px;
    }
    
    /*Hide the checkmark by default*/
    .checkbox input[type="radio"] + label::after {
        content: none;
    }
    
    /*Unhide on the checked state*/
    .checkbox input[type="radio"]:checked + label::after {
        content: "";
    }
    button {
        color: #fff;
            font: 400 .9rem 'Montserrat', sans-serif;
            width: 180px;
            padding: 10px 40px;
            background: #313131;
            border: 1px solid #000000;
            text-transform: uppercase;
            @media (max-width: 990px) {
                width: 100%;
                box-sizing: border-box;
            }
    }
}

.orders-wrap {
    border: 1px solid #000;
    border-bottom: none;
    .orders-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 28px;
        border-bottom: 1px solid #000;
        @media (max-width: 576px) {
            padding: 10px;
        }
        img {
            height: 10px;
        }
        p {
            font: 400 1.125rem "ref";
        }
    }
    .orders-title-wrap {
        display: grid;
        grid-template-columns: 6fr 2fr 1fr;
        padding: 8px 28px;
        border-bottom: 1px solid #000;
        grid-gap: 15px;
        @media (max-width: 576px) {
            display: none;
        }
        p {
            font: 400 .87rem "ref";
        }
    }
    .orders-info-wrap {
        display: grid;
        grid-template-columns: 6fr 2fr 1fr;
        padding: 15px 28px;
        grid-gap: 15px;
        border-bottom: 1px solid #000;
        @media (max-width: 576px) {
            padding: 15px 10px;
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }
        .order-info-box {
            display: flex;
            align-items: center;
            position: relative;
        }
        .close,.heart {
            margin-right: 10px;
            @media (max-width: 576px) {
                position: absolute;
                top: -10px;
                margin: 0;
            }
            img {
                height: 15px;
                @media (max-width: 576px) {
                    height: 12px;
                }
            }
        }
        .close {
            @media (max-width: 576px) {
                right: -2px;
            }
        }
        .heart {
            img {
                @media (max-width: 576px) {
                    height: 15px;
                }
            }
        }
        .item {
            height: 65px;
            max-width: 100%;
            object-fit: contain;
            margin-right: 10px;
        }
        .order-info-text {
            display: flex;
            flex-direction: column;
            .name {
                font: 600 .75rem "ref";
                margin-bottom: 5px;
            }
            .artikle {
                margin-bottom: 10px;
                font: 400 .75rem "ref";
            }
            .price {
                font: 600 .75rem "ref";
            }
        }
        .order-info-col {
            @media (max-width: 576px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .num-col {
                width: 60px;
                text-align: center;
                font: 600 .75rem "ref";
                border: 1px solid #000000;
                padding: 5px;
            }
        }
        .order-info-price {
            @media (max-width: 576px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            p {
                font: 600 .87rem "ref";
            }
        }
    }
    .order-other-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #bfbfbf;
        padding: 8px 28px;
        border-top: 1px solid #000;
        @media (max-width: 576px) {
           padding: 10px;
        }
        p {
            font: 500 .87rem 'Montserrat', sans-serif;
        }
    }
    .sale {
        p {
            color: #fff;
        }
    }
    .all {
        p {
            font-weight: 700;
        }
    }
    .title-mob {
        display: none;
        @media (max-width: 576px) {
            display: block;
            font: 500 .87rem 'Montserrat', sans-serif;
        }
    }
    
    .descript {
        background: #fff;
        border: 1px solid #fff;
        position: relative;
        bottom: 0px;
        width: 100%;
        left: -1%;
        p {
            font-style: italic;
        }
    }
}