.posts-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
    .posts-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding-bottom: 45px;
        border-bottom: 1px solid #a0a0a0;
        .post-info {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 30px;
            align-items: center;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                grid-gap: 15px;
            }
            .data {
                color: #000;
                font: 400 1rem 'Montserrat', sans-serif;
                @media (max-width: 768px) {
                    font-size: .9rem;
                }
            }
            .title {
                color: #000;
                font: 400 1.5rem 'Montserrat', sans-serif;
                text-decoration: underline;
                @media (max-width: 768px) {
                    font-size: 1.125rem;
                }
            }
        }
        .post-content {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 30px;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }
            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
                @media (max-width: 768px) {
                    display: block;
                    margin: 0 auto;
                }
            }
            p {
                font: 400 .87rem/24px 'Montserrat', sans-serif;
            }
        }
    }
}


.post-item-title-xl {
    font: 400 2.5rem 'Montserrat', sans-serif;
    letter-spacing: 0.48px;
    margin-bottom: 30px;
    @media (max-width: 990px) {
        font-size: 2rem;
    }
    @media (max-width: 576px) {
        font-size: 1.75rem;
        margin-bottom: 15px;
    }
}

.post-item-title-sm {
    font: 600 1.5rem 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 25px 0;
    @media (max-width: 990px) {
        font-size: 1.2rem;
        margin: 20px 0;
    }
}

.post-img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    margin-top: 60px;
    @media (max-width: 990px) {
        margin-top: 30px;
    }
}

.post-item {
    .text-simple {
        line-height: 24px;
        font-size: .95rem;
    }
}