.rewiev {
    margin-bottom: 40px;
    .title-xl-none {
        text-align: left;
        margin-bottom: 20px;
    }
    form {
        .input {
            border: 1px solid #000000;
            background: #fff;
            padding: 12px 18px;
            font: 400 .9rem 'Montserrat', sans-serif;
            width: 100%;
            box-sizing: border-box;
            @media (max-width: 990px) {
                padding: 10px 15px;
            }
        }
        textarea {
            margin-bottom: 15px;
            border: 1px solid #000000;
            background: #fff;
            padding: 12px 18px;
            font: 400 .9rem 'Montserrat', sans-serif;
            height: 120px;
            width: 100%;
            box-sizing: border-box;
            @media (max-width: 990px) {
                padding: 10px 15px;
                height: 80px;
            }
        }
        button {
            color: #000;
            font: 400 .9rem 'Montserrat', sans-serif;
            width: 250px;
            padding: 10px 40px;
            background: transparent;
            border: 1px solid #000000;
            text-transform: uppercase;
            @media (max-width: 990px) {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
    .form-rewiev-box {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 30px;
        margin-bottom: 20px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }
    .star-rating {
        display: flex;
        align-items: center;
    }
    .star-rating__wrap {
        position: relative;
        margin-right: 15px;
        label {
            height: 30px;
            width: 30px;
        }
        input {
            height: 0;
            width: 0;
            opacity: 0;
            left: -3px;
            top: -5px;
            position: absolute;
        }
    }
    .star-disabled {
        cursor: pointer;
        &::before {
            font-family: 'Font Awesome\ 5 Free';
            content: '\f005';
            font-size: 22px;
        }
    }
    .star-active {
        cursor: pointer;
        &::before {
            font-family: 'Font Awesome\ 5 Free';
            content: '\f005';
            font-size: 22px;
            color: rgb(228, 228, 42);
        }
    }
    .captcha {
        margin-bottom: 20px;
    }
}

.rewies {
    margin-bottom: 60px;
    .rewiev-user-wrap {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            border: 1.2px solid #bfbfbf;
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            margin: 0 5px;
            font: 600 .8rem 'ref';
            transition: .3s;
            &:hover {
                background: #bfbfc4;
            }
        }
        .active {
            background: #bfbfc4;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font: 400 1rem 'Montserrat', sans-serif;
            padding: 5px;
            height: 20px;
            width: 20px;
        }
    }
}

.rewiev-user {
    border: 1px solid #000000;
    .rewiev-user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #000000;
        @media (max-width: 990px) {
            padding: 10px;
        }
        .name,.data {
            font: 400 1.1rem 'Montserrat', sans-serif;
            @media (max-width: 990px) {
                font: 400 .95rem 'Montserrat', sans-serif;
            }
        }
    }
    .rewiev-user-mes {
        padding: 10px 20px;
        @media (max-width: 990px) {
            padding: 10px;
        }
        .title {
            font: 400 1.1rem 'Montserrat', sans-serif;
            margin-bottom: 10px;
            @media (max-width: 990px) {
                font: 400 .95rem 'Montserrat', sans-serif;
            }
        }
        .rate {
            margin-bottom: 20px;
            @media (max-width: 990px) {
                margin-bottom: 15px;
            }
            i {
                margin-right: 5px;
            }
        }
        .text-simple {
            font: 400 1rem 'Montserrat', sans-serif;
            @media (max-width: 990px) {
                font: 400 .9rem 'Montserrat', sans-serif;
            }
        }
    }
}

